services:
  bot:
    image: ghcr.io/igoof14/t-invest-bot:latest
    container_name: t-invest-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./bot_data.db:/app/bot_data.db

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=60
      - WATCHTOWER_INCLUDE_RESTARTING=true
    command: t-invest-bot
