services:
  bot:
    image: ghcr.io/igoof14/t-invest-bot:latest
    container_name: t-invest-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      # - ./bot_data.db:/app/bot_data.db
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=60
      - WATCHTOWER_INCLUDE_RESTARTING=true
      - DOCKER_API_VERSION=1.44
    command: t-invest-bot
